.about {
    &__pictures {
        background-color: lightgray;
        grid-column: full-start / col-end 4;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 0;
    }

    &__img--1 {
        width: 100%;
    }

    &__img--2 {
        width: 100%;
        
    }

    &__content {
        background-color: lightgreen;
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


}