.about {
    &__pictures {
        background-color: lightgray;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(/img/pexels-anni-roenkae-2693212.jpg);

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        padding: 0;
    }

    &__img--1 {
        width: 100%;
        grid-column: 2 / 6;
        grid-row: 2 / 6;
        box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: .1);
        filter: invert(8%) sepia(95%) saturate(285%) hue-rotate(171deg) brightness(77%) contrast(94%);
        // transform: rotateZ(-20deg);
    }

    &__img--2 {
        width: 115%;
        grid-row: 3 / 6;
        grid-column: 4 / 7;
        z-index: 10;
        box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: .2);
        // transform: rotateZ(-4deg);
    }

    &__content {
        background-color: $color-gray-light-1;
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
        font-size: 1.4rem;
    }

}