.footer {
    grid-column: full-start / full-end;
    text-transform: uppercase;
    background-color: $color-secondary;
  }

  footer {
    padding: 8rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive( 1000 ) {
        padding-bottom: 16rem;
    }

    @include responsive( 600 ) {
        padding: 6rem 6rem 12rem 6rem;
        font-size: 1.5rem;
    }
  }

  footer a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  footer img {
    width: 3.5rem;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 1rem;

  }

  footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
  }