.header {
    grid-column: full-start / col-end 6;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba($color-secondary, .5), rgba($color-secondary, .5)), url(/img/pexels-anni-roenkae-2693212.jpg);
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;


    &__logo {
        width: 10rem;
        margin: 0 auto;
    }

    &__heading {
        
        &--4 {
            font-size: 2rem;
            color: $color-primary;
            margin-bottom: -2rem;
        }

        &--2 {
            font-size: 5rem;
            color: white;
        }

        &--3 {
            color: white;
            font-size: 3rem;
            margin-top: -1rem;

            & span {
                color: $color-primary;
            }
        }

    }

    &__button {
        width: 25rem;
        font-size: 2rem;
        border-radius: 2rem;
        transition: all .1s;


        &:hover {
            transform: translateY(-1rem);
            background-color: $color-primary;
        }
    }

    &__line {
        text-align: center;
        color: #aaa;
        font-size: 1.5rem;
        font-weight: 800;
    }

    &__technology {
        width: 100%;
        justify-self: flex-end;
        display: flex;
        justify-content: space-evenly;

        & img {
            width: 5rem;
            filter: invert(80%) sepia(0%) saturate(5%) hue-rotate(143deg) brightness(91%) contrast(89%);
        }
    }
}