.qualities {
    background-color: lightgoldenrodyellow;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    // rows will be implicitely defined
    margin: 15rem 0;


}

.quality {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;

    &__img {
        width: 5rem;
        height: 5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem)
    }

    &__text {
        font-size: 1.6rem;
    }

    &--title {
        grid-column: 1 / -1;
        margin: auto auto;
        text-transform: uppercase;

    }
}

