.qualities {
    background-color: lightgoldenrodyellow;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // rows will be implicitely defined


    
}

