.qualities {
    background-color: white;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
    // rows will be implicitely defined
    margin: 15rem 5rem;
    align-items: start;

}

.quality {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;

    &__img {
        width: 5rem;
        height: 5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem)
    }

    &__text {
        font-size: 1.6rem;
    }

    &--title {
        grid-column: 1 / -1;
        margin: auto auto;

        height: 5rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $color-gray-dark-1;
    }
}

