*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh auto 40vw repeat(3, auto);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(auto, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.sidebar {
  background-color: lightblue; }

.footer {
  background-color: lightsalmon; }

.header {
  background-color: lightcoral; }

.section-1 {
  background-color: lightcyan; }

.section-2 {
  background-color: lightgoldenrodyellow; }

.about__pictures {
  background-color: lightgray; }

.about__content {
  background-color: lightgreen; }

.projects {
  background-color: lightgrey; }

.gallery {
  background-color: lightpink; }
