// color primary
$color-primary: #26a5bc;
$color-primary-light: #28c9d5;
$color-primary-dark: #2197ac;


// color gray
$color-gray-light-1: #f9f7f6;
$color-gray-light-2: #aaa;

$color-gray-dark-1: #54483A;
$color-gray-dark-2: #605D48;