.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;


}

.navbar {
    width: 8rem;
    height: 100vh;
    position: fixed;
    background-color: gray;
    transition: width .2s ease,  display 2s 2s ease;
    z-index: 1000;



    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 3rem;
        padding: 3rem 0;

    }

    &__item {
        padding-left: 1.5rem;
        width: 100%;
        filter: grayscale(100%) opacity(0.6);

        &:last-child {
            margin-top: auto;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        height: 5rem;
        text-decoration: none;

        & img {
            width: 5rem;
            filter: grayscale(100%);

        }
    }

    &__text {
        display: none;
        margin-left: 3rem;
        text-transform: uppercase;
        color: white;
        font-size: 2rem;


    }

    &:hover {
        width: 26rem;
    }

    &:hover &__text {
        display: block;
    }

}