.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;


}

.navbar {
    width: 8rem;
    height: 100vh;
    position: fixed;
    background-color: hsl(212, 47%, 15%);

    z-index: 1000;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 0 0 4rem 0;

    }

    &:hover &__logo img {
        transform: rotate(-180deg);
    }

    &:hover &__logo span {
        display: block;
    }

    &__logo {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.3rem;
        width: 100%;
        background-color: $color-secondary;
        padding: 2rem;

        & a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            text-decoration: none;

        }

        & span {
            display: none;
            color: white;

        }

        & img {
            width: 5rem;
            transform: rotate(0deg);
            transition: transform .2s;
            filter: invert(99%) sepia(26%) saturate(0%) hue-rotate(243deg) brightness(114%) contrast(100%);
        }

    }

    &__item {
        width: 100%;
        padding: 2rem 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: .5rem;
            background-color: $color-secondary;
            // transform-origin: center or botoom or top

            //animation
            transform: scaleY(0);
            transition: transform .2s,
                        width .4s cubic-bezier( 1, 0, 0, 1 ) .2s;
            z-index: 1500;
        }

        &:hover::after {
            transform: scaleY(1);
            width: 100%;
        }

        &:last-child {
            margin-top: auto;
        }
    }
    
    &__link {
        display: flex;
        align-items: center;
        height: 5rem;
        text-decoration: none;
        transition: all .7s;
        margin-left: 2rem;
        position: relative;
        z-index: 2000;
        
        & img {
            width: 4rem;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }

        &:hover {
            filter: invert(76%) sepia(32%) saturate(1681%) hue-rotate(156deg) brightness(210%) contrast(102%);
        }
    }



    &__text {
        display: none;
        margin-left: 3rem;
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
    }


    &:hover {
        width: 26rem;
    }

    &:hover &__text {
        display: block;
    }


}