.heading-1 {

}

.heading-2 {
    font-size: 4rem;
    font-style: italic;

    &--light { color: $color-gray-light-1; }
    &--dark { color: $color-gray-dark-1; }
}

.heading-3 {
    
}

.heading-4 {
    font-weight: 600;
    font-size: 2rem;

    &--light { color: $color-gray-light-1; }
    &--dark { color: $color-gray-dark-1; }
}