.heading-1 {

}

.heading-2 {
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light { color: $color-gray-light-1; }
    &--dark { color: $color-gray-dark-1; }
}

.heading-3 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.heading-4 {
    font-weight: 600;
    font-size: 2rem;

    &--light { color: $color-gray-light-1; }
    &--dark { color: $color-gray-dark-1; }
}

.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(27, 27, 27);
    }
}