.qualities-1 {
    background-color: lightcyan;
}

.qualities-2 {
    background-color: lightgoldenrodyellow;
}

.about {
    &__pictures {
        background-color: lightgray;
    }

    &__content {
        background-color: lightgreen;
    }
}

.projects {
    background-color: lightgrey;    
}

.gallery {
    background-color: lightpink;
}